<header>
  <h1 class="site-title">It's A Draw</h1>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem" id="your_posts"><a href="/">Your Posts</a></li>
    <li class="navitem" id="all_posts"><a href="/allPosts">All Posts</a></li>
    <li class="navitem right">
      <label for="username-input">Username</label>
      <input type="text" id="username-input">
    </li>
    <li class="navitem right">
      <label for="username-input">Search</label>
      <input type="text" id="username-input">
    </li>
  </ul>
</nav>
