<!DOCTYPE html>
<html>
<header>
    <div class="header-image-container">
        <img src="images/iad_logo.png" width="150" height="150">
    </div>
  <h1 class="site-title">It's A Draw</h1>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/"></a></li>
    <li class="navitem right">
      <label for="username-input">Username</label>
      <input type="text" id="username-input">
    </li>
    <li class="navitem right">
      <img src="images/search.png" width="25" height="20" class="navitem">
      <label for="username-input" style="display:inline">Search</label>
      <input type="text" id="username-input" style="display:inline">
    </li>
  </ul>
</nav>
</html>
