body {
    font-family: 'Barlow', sans-serif;
    background-color: #14202b;
    color: white;
}

#your_posts:hover, #all_posts:hover {
  background-color: rgba(0, 186, 133, 0.08);
  color: white;
}

.site-title {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
}
#posts {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap
}

header {
    font-size: 30px;
    color: white;
    background-color: #14202b;
    align-items: right;
}


a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar {

    font-size: 22px;
    color: white;
    background-color: #14202b;
}

.navlist {
    margin: 0;
    text-align: center;
    color: white;
    cursor: default;
}

.navitem {
    display: inline-block;
    color: white;
    cursor: default;
    
}

.navitem:hover {
    color: white;
    cursor: default;
}

.navitem a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    cursor: default;
}

.search_bars {

  display: flex;
}

.navitem.right {

  justify-content: flex-end;
  display: flex;
  color: white;
}

.navitem.left {
  justify-content: flex-end;
  display: flex;
  color: white;
}
.hidden {
  display: none;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.like-button {
    background-color: #14202b;
    border: 1px solid #14202b;
    border-radius: 10%;
    color:lightgray;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}

.dislike-button {
    background-color: #14202b;
    border: 1px solid #14202b;
    border-radius: 10%;
    color:lightgray;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}

.fas {

    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 30px;
    font-size: 47px;
    text-align: center;
    vertical-align: text-bottom;
    background-color: #00ba85;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.2); 
}
.fas:hover {
    transform: scale(1.5);
    background-color: #fafafa;
    color: #00ba85;
}
#canvas{

  border: 5px solid #00bf85;
  background: #fafafa;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#post-something-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 700px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #14202b;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
  color: #fafafa;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: #fafafa;
}
#modal-close:hover {
  color: #00ba85;
}

.post-contents {
  display: inline-block;
}

.modal-body {

  position: relative;
  padding: 20px;
}

.draw_select {

  position: absolute; 
  top: 30px; 
  right: 10px; 
}
#draw_tools {
   width:150px;   

}

.canvas_select {
  position: absolute; 
  top: 61px; 
  right: 10px; 
}
#canvas_background {
 width:150px;   

}

.color-input-element {
  position: absolute; 
  top: 91px; 
  right: 10px; 
}

.brush-input-element {
  position: absolute; 
  top: 121px; 
  right: 10px; 
}

.post-fieldset {
    display: inline-block;

  flex: 1 100%;
  border: 1px solid #ababab;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
  color: black;
}

#canvas:hover {
    cursor: crosshair;
}

#modal-cancel:hover,
#modal-accept:hover {
  margin-right: 20px;
  color: green;
}

#clear,
#modal-cancel {
  color: black;
}

#clear:hover,
#modal-cancel:hover {
  color: #00ba85;
}

