.navbar {
  font-size: 22px;
  background-color: #fff;
}

.navlist {
  margin: 0;
}

.navitem {
  display: inline-block;
}

.navitem:hover {
  background-color: rgba(231, 132, 119, 0.18);
}

.navitem a {
  display: inline-block;
  color: #454545;
  padding: 10px 20px;
}

.navitem.right {
  float: right;
}
.hidden {
  display: none;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}
#canvas{
  border: 2px solid black;
}
